name: Auto Assign

on:
  pull_request:
    types:
      - opened

permissions:
  pull-requests: write
  repository-projects: read

jobs:
  assign:
    name: Assign
    runs-on: ubuntu-latest
    steps:
      - name: Add event actor to assignees
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: gh pr edit ${{ github.event.number }} --add-assignee ${{ github.actor }}
