name: Assign Author

on:
  pull_request:
    types: [opened , reopened]

jobs:
  assign-author:
    runs-on: ubuntu-latest
    steps:
      - name: Assign author to PR
        uses: technote-space/assign-author@v1
