name: Assign Author

on:
  pull_request:
    types: [opened, edited]

permissions:
  pull-requests: write
  repository-projects: read

jobs:
  assign-author:
    runs-on: ubuntu-latest
    steps:
      - run: gh pr edit "$PULL_NUMBER" --repo "$REPOSITORY" --add-assignee "$CREATOR"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY: ${{ github.repository }}
          PULL_NUMBER: ${{ github.event.pull_request.number }}
          CREATOR: ${{ github.event.pull_request.user.login }}
