name: Pull Request

on:
  pull_request:
    types: [ opened, synchronize ]

permissions:
  contents: write
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.base.sha }}
      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 17
          cache: gradle
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Setup local.properties
        env:
          name: development
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: print "$GEMINI_API_KEY"
      - name: Setup local.properties
        env:
          name: development
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: echo GEMINI_API_KEY="$GEMINI_API_KEY" > ./local.properties
      - name: Build With Gradle
        run: ./gradlew assembleDebug
      - name: UnitTest
        run: ./gradlew testDebugUnitTest
